Django==5.2.3
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
django-filter==25.1
drf-yasg==1.21.10
python-dotenv==1.1.0
dj-database-url==2.2.0
psycopg2-binary==2.9.9
transbank-sdk==6.0.0
requests==2.32.4
